@import 'tailwindcss';
@config "../../tailwind.config.js";

/* Swiper Pagination Customization */
.swiper-pagination-bullet {
  width: 6px !important;
  height: 6px !important;
  background: #ffffff !important;
  opacity: 0.5 !important;
}

.swiper-pagination-bullet-active {
  opacity: 1 !important;
  background: #ffffff !important;
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 25px !important;
}
